/*reset*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: 2px solid var(--clr-strong-cyan);
    outline-offset: 2px;
    transition: var(--transition);
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    html {
        scroll-behavior: initial;
    }
}

/*theme*/

:root {
    --clr-strong-cyan: hsl(172, 67%, 45%);
    --clr-strong-cyan-hover: hsl(173, 61%, 77%);
    --clr-very-light-grayish-cyan: hsl(180, 37%, 97%);
    --clr-light-grayish-cyan: hsl(185, 41%, 84%);
    --clr-dark-grayish-cyan: hsl(186, 14%, 43%);
    --clr-very-dark-cyan: hsl(183, 100%, 15%);
    --clr-grayish-cyan: hsl(188, 14%, 56%);
    --clr-white: hsl(0, 0%, 100%);
    --fs-text: 1.15rem;
    --fs-l: 1.5rem;
    --fs-xxl: 3rem;
    --fs-small: 0.75rem;
    --border-radius: 12px;
    --transition: ease background-color .8s;
    --box-shadow: 0 3px 5px rgba(0, 0, 0, 0.28);
    --min-col-width: 15rem;
}

/*layout*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Space Mono', monospace;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--clr-light-grayish-cyan);
    color: var(--clr-very-dark-cyan);
}

header {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

header>img {
    margin: 0 auto;
}

main {
    width: min(100%, 96ch);
    margin: 0 auto;
    flex-grow: 2;
    display: grid;
    align-items: start;
    font-weight: 700;
}

footer {
    width: 100%;
    margin-top: auto;
    padding: 0.5em;
    place-self: center;
    text-align: center;
}

/*utilities and containers*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.container--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-col-width)), 1fr));
    padding: min(8%, 3.15em);
    gap: 3em;
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
}

.container--flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6em;
}

.container--flex>* {
    --min-col-width: 7rem;
    flex: 1 1 var(--min-col-width);
}

.container--result {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*typography */

a {
    text-decoration: none;
    transition: var(--transition);
    color: var(--clr-strong-cyan);
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    color: var(--clr-very-dark-cyan);
}

.small {
    display: block;
    font-size: var(--fs-small);
    color: var(--clr-dark-grayish-cyan);
}

.output {
    color: var(--clr-strong-cyan);
    font-size: var(--fs-xxl); 
    font-size: min(max(2rem, 3.5vw), var(--fs-xxl));
}

#error {
    text-align: right;
    color: hsl(11, 67%, 62%);
}

/*input*/

input[type="number"] {
    width: 100%;
    font-size: var(--fs-l);
    padding: 0.1em 0.3em;
    margin-top: 0.3em;
    text-align: right;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--clr-very-light-grayish-cyan);
    color: var(--clr-very-dark-cyan);
}

#custom-number {
    height: 100%;
    margin: 0;
}

#bill {
    background: url(../images/icon-dollar.svg) var(--clr-very-light-grayish-cyan) no-repeat left 0.8em center;
}

#people {
    background: url(../images/icon-person.svg) var(--clr-very-light-grayish-cyan) no-repeat left 0.8em center;
}

input::placeholder {
    color: var(--clr-grayish-cyan);
}

label {
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: none;
}

legend {
    margin-bottom: 1em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
}

input[type="radio"]:focus {
    outline: none;
}

/*buttons*/

.btn {
    display: inline-flex;
    align-items: center;
    align-self: start;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    padding: 0.25em 1em;
    transition: var(transition);
    border: 2px solid currentColor;
    border-radius: 6px;
    font-size: var(--fs-l);
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--clr-very-dark-cyan);
    color: var(--clr-very-light-grayish-cyan);
}

.btn--custom {
    padding: 0;
    background-color: var(--clr-very-light-grayish-cyan);
}

.btn:hover,
.active {
    background-color: var(--clr-strong-cyan-hover);
    border: 2px solid var(--clr-strong-cyan-hover);
    color: var(--clr-very-dark-cyan);
}

.btn--custom:hover {
    background-color: var(--clr-white);
    border: 2px solid var(--clr-strong-cyan-hover);
    color: var(--clr-very-dark-cyan);
}

.btn:disabled,
.btn:disabled:hover {
    background-color: #0d686d;
    border: 2px solid #0d686d;
    color: var(--clr-very-dark-cyan);
    cursor: default;
}

.btn--alt {
    background-color: var(--clr-strong-cyan);
    color: var(--clr-very-dark-cyan);
}

/*card*/

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 2.5em;
    border-radius: var(--border-radius);
}

.card:nth-child(2) {
    padding: min(8%, 3em);
    background-color: var(--clr-very-dark-cyan);
    color: #fff;
}